header {
    background: @gradiente-header;
    color: @color-crema;
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 4px 6px @sombra-color;
}

.foto-perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid @color-crema;
    margin-bottom: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}