@media (max-width: @breakpoint-mobile) {
    .proyecto {
        width: 100%;
    }

    h1 {
        font-size: @tamano-h1-mobile;
    }

    .foto-perfil {
        width: 200px;
        height: 200px;
    }
}